/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.detail-page-container {
  text-align: center;
}

/* Public-Navbar */
.background-navbar {
  background-color: #282c34;
}
.mr-auto {
  color: white;
}
/* HomePage */
.home-page {
  background-color: #282c34;
}
/* DetailPage */
.detail-page {
  background-color: #282c34;
}

.detail-page-container {
  display: flex;
  justify-content: center;
}
/* Categories page */
.categories-page {
  background-color: #282c34;
}
.text-h3 {
  color: azure;
}
